html{font-size: 25px;color:white;}

h2{
    padding: 10px;
}
main section select,form select, input[type="text"],input[type="date"],input[type="tel"],input[type="email"],input[type="password"],textarea {
  width: 70%; 
  text-align: center;
}

label{text-shadow: 2px 2px 5px red;}

mark{color: black;}

Button{
    color: white;
    text-shadow: 2px 2px 5px black;
    width: 35%;
    background-color: #475e54;
}

/*section{ border:1px solid red;}*/

select{height:32px;}