/*style of images*/
section a img{
    border: 3px solid  #56ba8e9c;
    border-radius: 6px;
    padding: 2px;
    width:100%;
    height: 250px;
    /*margin: 2px;*/
  }
  
  section a img:hover {
    box-shadow: 0 0 4px 2px #dfe165;
  }
